streamlit
pandas
ocrmypdf
PyMuPDF
Pillow
streamlit
pytesseract
pdf2image
opencv-python-headless
scikit-learn 
datetime 
altair 
seaborn 
matplotlib
plotly
scipy
scikit-learn>=1.3.0
statsmodels>=0.14.0
folium
